/* =============== GLOBAL =============== */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  /*========== Colors ==========*/
  --bg-color: #070a2d;
  --font-color: #cdced5;
  --link-color: lightblue;
  --text-color-1: rgba(0, 179, 119, 1);
  --text-color-2: rgba(214, 255, 127, 1);
  --headline-color: white;
}

/* =============== BASE =============== */
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

a {
  color: #fff; 
  text-decoration: none;
}

/*=============== SCROLL BAR ===============*/
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(23, 4%, 40%);
}

/* Firefox styles */
html {
  scrollbar-color: hsl(23, 4%, 30%) hsl(23, 4%, 15%);
  scrollbar-width: thin;
}

html:hover {
  scrollbar-color: hsl(23, 4%, 40%) hsl(23, 4%, 15%);
}

/* =============== LAYOUT =============== */
.header-content,
.main-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
  flex-direction: column;
}

/* =============== HEADER =============== */
.header-content{
  justify-content: space-between;
  flex-direction: row;
}

/* =============== HOME =============== */

/* =============== PROJECTS =============== */

/* =========== BREAKPOINTS =========== */

/* =============== FOOTER =============== */

